<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>Hello there Smoooth operatorrrrr</h1>
    <img src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExczQ5ZTYyMG1nbzB5aWgzdXBvZnVzeXVmb2R2M2ppMXM1bmluMDB2MSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/IELPp4xE7W04RHU6oq/giphy.gif" alt="">
    <img src="static/OIP.jfif" alt="">
</body>
</html>